<
    <link rel = "stylesheet" href="/css/style.css">

    <h1> Nouvelle Composition </h1>
   <div class="menu">
      <div> <a href="/compo">Home</a> </div>
      <div> <a href="/players">Gestion d'Equipe</a> </div>
  </div>

   <img src="/composition.png"/>

 


        <form action="/compo/update" method= "POST">
             1:<input type="texte" name="player" value="<%= player %>" /> 
                <br/>
             2:<input type="texte" name="player" value="<%= player %>" /> 
                <br/>        
             3:<input type="texte" name="player" value="<%= player %>" /> 
                <br/>
                4:<input type="texte" name="player" value="<%= player %>" /> 
                <br/>  5:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  6:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  7:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  8:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  9:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  10:
                <input type="texte" name="player" value="<%= player %>" /> 
                <br/>  11:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  12:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  13:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  14:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  15:
                <input type="texte" name="player" value="<%= player %>" /> <br/> 
                <br/>                                                               16:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  17:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  18:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  19:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  20:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  21:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  22:
                <input type="texte" name="player" value="<%= player %>" /> <br/>  23:
                <input type="texte" name="player" value="<%= player %>" /> <br/> <br/> <br/> 
                
           
                <input type="submit" name="save" value="Ajouter la composition" />
        </form>