<link rel = "stylesheet" href="/css/style.css">

<a href="/compo"> <h1>Feuille de Match</h1> </a>

    <form action="/createNewTeam" method= "POST">

      <!-- Date -->

      <input type="date" id="date"
         value=""
         min="2021-01-01" max="2022-01-01" required>

      <!-- Adversaire -->   
     
      <input type="text" id="adversaire" required>
    </br>
   </br>
</br>
</br>
<!-- Joueurs -->
        1/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>
     2/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 
     3/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>
     <br>
     <br>
     4/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>
     5/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>
     <br>
     <br>
     6/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>
     8/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 
     
     7/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>     
     <br>
     <br>
     9/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>  
     <br> 
     <br>

     10/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>  
     
     <br>
     <br>
     12/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>  
     13/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 

     <br>
     <br>
     11/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 
     15/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 

     14/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 
     <br>
     <br><br>
     <br>
     Réserve:
     <br>
     <br>
     16/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 
     16/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>      17/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>      18/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>      19/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>      20/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select>      21/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].nom %> <%= joueurs[i].prenom %>
           </option>
        <% } %>
     </select> 

     <br>
     <br>
     <br>
     <br>
    
     <a href="/compo" > <input type="button" name="cancel" value="Annuler" /> </a>
     <input type="submit" name="save" value="Sauvegarder" />
    </form>   

  
