<link rel = "stylesheet" href="/css/style.css">

<h1>Team Management</h1>
 <div class="menu">
      <div> <a href="/compo">Home</a> </div>
      <div> <a href="/players">Gestion d'Equipe</a> </div>
  </div>

    <form action="/compo/new" method= "POST">
      
      <form method="POST">
         Adversaire <select name="Adversaire" id="">
            <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
               <option value="<%=joueurs[i].id %>" >
                  <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
               </option>
            <% } %>
         </select>
         Date <select></select>
      </form>

        1/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>
     2/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 
     3/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>
     <br>
     <br>
     4/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>
     5/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>
     <br>
     <br>
     6/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>
     8/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 
     
     7/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>     
     <br>
     <br>
     9/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>  
     <br> 
     <br>

     10/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>  
     
     <br>
     <br>
     12/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>  
     13/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 

     <br>
     <br>
     11/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 
     15/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 

     14/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 
     <br>
     <br><br>
     <br>
     Réserve:
     <br>
     <br>
     16/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 
     16/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>      17/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>      18/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>      19/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>      20/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select>      21/ <select name="joueurs" id="">
        <% for (let i = 0 ; i < joueurs.length ; i++) { %> 
           <option value="<%=joueurs[i].id %>" >
              <%= joueurs[i].Nom %> <%= joueurs[i].Prénom %>
           </option>
        <% } %>
     </select> 

     <br>
     <br>
     <input type="submit" name="save" value="Ajouter la composition" />

    </form>   
  
